.show__json__display {
  display: block;
  white-space: 'pre-wrap';
  word-wrap: 'break-word';
  background-color: #f1f1f1;
  padding: 15px;
  margin-top: 10px;
}

.hide__json__display {
  display: none;
}

.json__display{
  margin-top: 10px;
}

.show__review {
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* font-size: 1.5rem; */
}

.hide__review {
  display: none;
}

.show__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.show__loading img {
  width: 50px;
}

.hide__loading {
  display: none;
}

.ats__score {
  font-size: 1.5rem;
}

.ats {
  font-size: 2rem;
}

.remark {
  font-size: 1rem;
  background-color: green;
  color: white;
  border-radius: 50px;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
